body {
  padding: 0;
  margin: 0;
}

.main-container {
  position: relative;
}
.main-container p,
.main-container a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.main-container .navbar-wrapper {
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 108px;
  background-color: transparent;
}
.main-container .navbar-wrapper a {
  color: white;
}
.main-container .navbar-wrapper .links-wrapper {
  width: 22%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-container .navbar-wrapper .links-wrapper .button {
  border-radius: 30px;
  background-color: #e91e63;
  border: none;
  padding: 16px 22px;
}

.hero-background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/parallax_1.jpeg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-background-img img {
  filter: brightness(50%);
  align-self: center;
  width: 95%;
}
.hero-background-img .statue-liberty {
  height: 900px;
  top: -7.3%;
  display: block;
}
.hero-background-img .mesh {
  z-index: 1;
  top: 0;
  height: 790px;
  width: 100%;
  background-color: black;
  opacity: 41.2%;
}
.hero-background-img .context-wrapper {
  position: absolute;
  z-index: 1;
  top: 24%;
  left: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
.hero-background-img .context-wrapper h1 {
  font-size: 72px;
}
.hero-background-img .context-wrapper h6 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 57px 0px;
}
.hero-background-img .context-wrapper button {
  background-color: #e91e63;
  border: none;
  color: white;
  padding: 3% 5.5%;
  border-radius: 3px;
}

.placeholder-wrapper {
  position: absolute;
  top: 75%;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: white;
}

.hover-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 67%;
  left: 2.4%;
  width: 95%;
  background: rgb(255, 255, 255);
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.75);
}
.hover-content-wrapper .icon-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hover-content-wrapper .icon-content-wrapper h2 {
  color: #3c4858;
  font-family: "Merriweather", serif;
  font-size: 35px;
  margin: 40px 0 50px 0;
}
.hover-content-wrapper .icon-content-wrapper .cards-wrapper {
  display: flex;
}
.hover-content-wrapper .icon-content-wrapper .cards-wrapper .content-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 7% 0;
}
.hover-content-wrapper .icon-content-wrapper .cards-wrapper .content-card-wrapper img {
  width: 60px;
}
.hover-content-wrapper .icon-content-wrapper .cards-wrapper .content-card-wrapper h5 {
  font-size: 17px;
  color: #3c4858;
  font-family: "Merriweather", serif;
  margin: 20px 0 0 0;
}
.hover-content-wrapper .icon-content-wrapper .cards-wrapper .content-card-wrapper p {
  width: 358px;
  padding: 10px 16px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.31);
}
.hover-content-wrapper .scoll-bckgrd-img-wrapper {
  background-image: url("/images/new-york-city.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
}
.hover-content-wrapper .scoll-bckgrd-img-wrapper .mesh {
  background-color: rgba(0, 0, 0, 0.53);
  height: 300px;
  width: 100%;
}
.hover-content-wrapper .scoll-bckgrd-img-wrapper .context-wrapper {
  width: 500px;
  position: absolute;
  top: 30%;
  left: 12%;
  color: white;
}
.hover-content-wrapper .scoll-bckgrd-img-wrapper .context-wrapper h3 {
  font-size: 40px;
  margin: 0;
}
.hover-content-wrapper .scoll-bckgrd-img-wrapper img {
  width: 500px;
  height: 180px;
  position: absolute;
  top: 28%;
  left: 54%;
}
.hover-content-wrapper .blog-wrapper {
  height: 355px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5% 0 8% 0;
}
.hover-content-wrapper .blog-wrapper h4 {
  font-size: 38px;
  color: #3c4858;
}
.hover-content-wrapper .blog-wrapper .content-cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.hover-content-wrapper .blog-wrapper .content-card-wrapper {
  width: 400px;
  height: 250px;
}
.hover-content-wrapper .blog-wrapper .content-card-wrapper h5 {
  font-family: "Roboto", sans-serif;
}
.hover-content-wrapper .blog-wrapper .content-card-wrapper h6 {
  color: #3c4858;
  font-size: 20px;
  margin: 10px 0;
}
.hover-content-wrapper .blog-wrapper .content-card-wrapper p {
  color: rgba(0, 0, 0, 0.31);
}
.hover-content-wrapper .blog-wrapper .content-card-wrapper .purple {
  color: #89229b;
}
.hover-content-wrapper .blog-wrapper .content-card-wrapper .blue {
  color: #00bcd4;
}
.hover-content-wrapper .blog-wrapper .content-card-wrapper .red {
  color: #f44336;
}
.hover-content-wrapper .get-in-touch-wrapper {
  width: 100%;
  height: 412px;
  background-image: url(/images/new-york-city.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hover-content-wrapper .get-in-touch-wrapper .mesh {
  background: rgba(0, 0, 0, 0.7411764706);
  width: 100%;
  height: 412px;
  position: absolute;
  z-index: 0;
  bottom: 0%;
}
.hover-content-wrapper .get-in-touch-wrapper h6 {
  font-size: 28px;
}
.hover-content-wrapper .get-in-touch-wrapper h6,
.hover-content-wrapper .get-in-touch-wrapper p {
  color: white;
}
.hover-content-wrapper .get-in-touch-wrapper .context-wrapper {
  position: absolute;
  bottom: 4%;
  left: 12%;
}
.hover-content-wrapper .get-in-touch-wrapper .context-wrapper i {
  font-size: 29px;
}
.hover-content-wrapper .get-in-touch-wrapper .context-wrapper .reg-ptag {
  margin: 0px 0 0 25px;
}

.footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #333;
  top: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.footer .about-parent-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer p {
  font-weight: 300;
}

.lower-placeholder-wrapper {
  height: 249px;
}/*# sourceMappingURL=main.css.map */